<!DOCTYPE html>
<html>
<head>
    <title>Socket test</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>

<div id="main-area">
    <img id="main-image" src="/static/image_start.png" />
</div>

<script>
    var socket = io.connect('http://localhost');
    socket.on('image', function (data) {
        $('#main-image').attr('src', data.data);
    });
</script>

</body>
</html>

