<!DOCTYPE html>
<html>
<head>
    <title>Socket test</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/clientCode.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>

<div id="main-area">
    <h1>Spy on your android</h1>
    <div id="picture-container">
        <img id="main-image" src="/static/image_start.png" />
    </div>
    <div id="commands">
        <button id="button-switch-camera" name="Switch camera">Switch camera</button>
    </div>
</div>

</body>
</html>

